#navbar{
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    padding: 0px 50px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#home-link{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

#home-link:hover, #logout-btn:hover{
    color: rgb(0, 69, 230);
}

#logout-btn{
    text-decoration: none;
    background: none;
    color: white;
    border: none;
    font-size: 15px;
}
